


h1  {color : grey;}

p{color : blue;} 
#first_id {color : #af4f43;
		   background-color: silver;}
.first_class {color : teal;}

pre {color : fuchsia;}

div {background: url('dnatur.jpg') no-repeat;
	background-position: center ;
}

body {
	background: url('natur.jpg') repeat scroll;
}